body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.hero-section {
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
}

.section {
    padding: 100px 0;
}

h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

.section.bg-primary {
    background-color: #004080;
    color: #fff;
}

.section.bg-light {
    background-color: #f8f9fa;
}
